.table{
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #6a898a;
}
.table td{
	padding: 5px 10px;
	text-align: left;
}
.table tr:nth-child(odd){
	background: rgb(201, 251, 227);
}
.table tr:nth-child(even){
	background: #afdcce;
}